#onersn_bkmrklt_dialog {
	position: fixed;
	top: 20px;
	left: 20px;
	padding: 12px 20px;
	background: #8cc63f;
	border: 2px solid #fff;
	border-radius: 7px;
	-webkit-box-shadow: rgba(0,0,0,0.6) 2px 2px 6px;
	z-index: 9999;
}

button#onersn_bkmrklt_button {
	position: absolute;
	right: 4px;
	top: 4px; 
	height: 12px;
	width: 12px;
	padding: 2px 3px 3px;
	font-size: 10px;
	font-weight: bold;
	line-height: 0px;
	background: #fff;
	border: none;
	border-radius: 3px;
	color: #333;
	-webkit-appearance: none;
}

input#onersn_bkmrklt_input {
	width: 160px;
	background: transparent;
	border: none;
	color: #111;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	outline: none;
	text-align: center;
}

input#onersn_bkmrklt_input::selection {
	background: #8cc63f;
}

p#onersn_bkmrklt_p {
	margin: 4px 0 0;
	padding: 0;
	font-size: 10px;
	color: #fff;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 12px;
	text-align: center;
}